TELEGRAM_BOT_TOKEN=""
TELEGRAM_BOT_USERNAME=""
TELEGRAM_ADMIN_ID=""
VK_TOKEN=""
VK_GROUP_ID=""
VK_CONFIRMATION=""
VK_SECRET=""
VK_ADMIN_ID=""
SUPABASE_URL=""
SUPABASE_KEY=""
VERCEL_PROJECT_PRODUCTION_URL=""
