TELEGRAM_BOT_TOKEN=""
TELEGRAM_BOT_USERNAME=""
TELEGRAM_ADMIN_ID=""

VK_GROUP_TOKEN=""
VK_GROUP_ID=""
VK_ADMIN_ID=""

PUBLIC_URL=""
CONTENT_DIR="/srv/content/imp"

POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD=""
POSTGRES_HOST="localhost" # deploy: db
